@media only screen and (min-width: 992px){

}

@media only screen and (min-width: 768px) and (max-width: 991px){
  
}

@media only screen and (max-width: 767px){
  
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	justify-content: center;
	margin-top: 50px;
}

div#container1{
	background-color: gray;
	position: absolute;
	width: 30%;
	height: 200px;
	margin-top:75px;
	margin-left: 2%;
	border-style: solid;
}

div#container2{
	background-color: gray;
	position: absolute;
	width: 30%;
	height: 200px;
	margin-top:75px;
	margin-left: 35%;
	border-style: solid;
}

div#container3{
	background-color: gray;
	position: absolute;
	width: 30%;
	height: 200px;
	margin-top:75px;
	margin-left: 68%;
	border-style: solid;
}

#p1{
	background-color: orangered;
	position: relative;
	width: 35%;
	height: 25%;
	top: 0px;
	left: 65%;
	text-align: center;
	padding-top: 12px;
	border-style: solid;
	font-size: 16px;
}

#p2{
	background-color: yellow;
	position: relative;
	width: 35%;
	height: 25%;
	top: 0px;
	left: 65%;
	text-align: center;
	padding-top: 12px;
	border-style: solid;
	font-size: 16px;
}

#p3{
	background-color: deeppink;
	position: relative;
	width: 35%;
	height: 25%;
	top: 0px;
	left: 65%;
	text-align: center;
	padding-top: 12px;
	border-style: solid;
	font-size: 16px;
}

#p4{
	position: relative;
	padding-left: 10px;
}